/* phones portrait*/
#button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 90vw;
    height: 15vh;
    border-radius: 24vw;
    font-size: 2vw;
    background-image: linear-gradient(60deg, #666666,#EEEEEE);
    z-index: 99999;
    opacity: 0.6;
    outline: none;
}

/* phones landscape*/
@media only screen and (orientation: landscape) {
    #button {
        position: absolute;
        bottom: 20%;
        right: 5%;
        width: 12vw;
        height: 12vw;
        border-radius: 24vw;
        font-size: 2vw;
        background-image: linear-gradient(60deg, #666666,#EEEEEE);
        z-index: 99999;
        opacity: 0.6;
        outline: none;
    }
}

/* Tablets */
@media only screen and (min-width: 600px) {
    #button {
        position: absolute;
        bottom: 10%;
        right: 5%;
        width: 16vw;
        height: 16vw;
        border-radius: 24vw;
        font-size: 2vw;
        background-image: linear-gradient(60deg, #666666,#EEEEEE);
        z-index: 99999;
        opacity: 0.6;
        outline: none;
    }
}

/* PC */
@media only screen and (min-width: 1200px) {
    #button {
        position: absolute;
        bottom: 25%;
        right: 10%;
        width: 12vw;
        height: 12vw;
        border-radius: 24vw;
        font-size: 2vw;
        background-image: linear-gradient(60deg, #666666,#EEEEEE);
        z-index: 99999;
        opacity: 0.6;
        outline: none;
    }
}
