html {
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    color: black;
    -webkit-font-smoothing: antialiased;
}

#button {
    position: absolute;
    bottom: 25%;
    right: 10%;
    width: 12vw;
    height: 12vw;
    border-radius: 24vw;
    font-size: 2vw;
    background-image: linear-gradient(60deg, #666666,#EEEEEE);
    z-index: 99999;
    opacity: 0.6;
    outline: none;
}
